body {
    text-align: center;
    padding-top: 100px;
    font-family: Arial, sans-serif;
    transition: background-color 0.4s;
}

button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #414141;
}